@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;500&idsplay=swap');

body{
    font-family: "Poppins", sans-serif;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}